{
  "admin": {
    "user_ids": [
      123456789
    ]
  },
  "default_poll_template": {
    "name": "Волейбольный опрос",
    "description": "Волейбол {date} {time} ВГАФК",
    "training_day": "sunday",
    "poll_day": "friday",
    "training_time": "18:00",
    "options": [
      "Буду",
      "Не буду",
      "Возможно"
    ],
    "enabled": true,
    "default_chat_id": "",
    "default_topic_id": null
  },
  "poll_schedules": []
}
